# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List open source tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Sckit-learn
4. Seaborn
5. ggplot
6. pytorch

| Data Science Tools      |
| :---        |
| PostgreSQL      |
| Apache AriFlow   |
| TensorFlow service   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Marios Vasileiadis